<!DOCTYPE html>
<html lang ='en' dir = 'ltr'>
    <body>
        <div class = 'content'>
            <h1 align='center'>House Price Prediction using Linear Regression model</h1>
            <div class="form">
                <form action="/predict" method="post">
                    
                    <input type="number" name="Gender" id ='Gender' placeholder="Gender">
                    <input type="number" name="Age" id ='Age' placeholder="Age">
                    <input type="number" name="Annual_Income" id ='Annual_Income' placeholder="Annual_Income">
                    
                    <input type="submit" vlaue = 'Predict'>
                    
                </form>
            </div>
            
            
            
        </div>
    </body>
